<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>
<h1>
    FIFA Chemistry Optimiser
</h1>

<div class="form">
    <form method="POST">
        <div>
            <input id="squad" name="FUTBIN Squad Link" placeholder="FUTBIN Squad Link">
            <input name="FUTBIN Squad Link" type="submit">
        </div>

        <div>
            <label for="top_n">Top (n) Squads:</label>
            <input type="number" id="top_n" name="top_n" min="1" max="20">

            <label for="subs"> Include Subs?</label>
            <input type="checkbox" id="subs" name="subs">
        </div>
    </form>
</div>